In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob

In [21]:
os.chdir('/Users/Kivanc/Desktop/matplotlib/analysisdemo/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data')
cwd=os.getcwd()
cwd

'/Users/Kivanc/Desktop/matplotlib/analysisdemo/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data'

In [22]:
files=os.listdir(cwd)
files

df=pd.DataFrame()
list(files)
type(files)

for file in files:
    df = df.append(pd.read_csv(file), ignore_index=True)
    
df.shape

(186850, 6)

In [23]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [58]:
df=df.dropna(how='all')

df['Month']=df['Order Date'].str[0:2]
df=df[df['Order Date'].str[0:2]!='Or']
df['Month']=df['Month'].astype('int32')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
1,295666,LG Washing Machine,1,600,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12
2,295667,USB-C Charging Cable,1,11,12/12/19 18:21,"277 Main St, New York City, NY 10001",12
3,295668,27in FHD Monitor,1,149,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12
4,295669,USB-C Charging Cable,1,11,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12

In [56]:
df['Quantity Ordered']=df['Quantity Ordered'].astype('int32')
df['Price Each']=df['Price Each'].astype('float32').astype('int32')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
1,295666,LG Washing Machine,1,600,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12
2,295667,USB-C Charging Cable,1,11,12/12/19 18:21,"277 Main St, New York City, NY 10001",12
3,295668,27in FHD Monitor,1,149,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12
4,295669,USB-C Charging Cable,1,11,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12

In [61]:
df['Total Sales']=df['Quantity Ordered']*df['Price Each']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Sales
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700
1,295666,LG Washing Machine,1,600,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600
2,295667,USB-C Charging Cable,1,11,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11
3,295668,27in FHD Monitor,1,149,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149
4,295669,USB-C Charging Cable,1,11,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11

In [64]:
df.groupby('Month').sum()

       Quantity Ordered  Price Each  Total Sales
Month
1                 10903     1804577      1813956
2                 13449     2179934      2191696
3                 17005     2779903      2794068
4                 20558     3354065      3374951
5                 18667     3122775      3138287
6                 15253     2551984      2566187
7                 16072     2621867      2635443
8                 13448     2221451      2234194
9                 13109     2076254      2087435
10                22703     3700299      3719205
11                19798     3167467      3184394
12                28114     4569702      4591824